:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.spinner-border {
  width: 8rem;
  height: 8rem;
  border-width: 0.25rem;
}

.spinner-border-purple {
  border-top-color: #dc3545;
  border-bottom-color: #dc3545;
}

/* Footer Hover Color change */
.footer-li {
  cursor: pointer;
  color: rgb(255 255 255 / 60%);
}

.footer-li {
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.footer-li:hover {
  color: #ffffff;
}

/* Text Change */
.hero-header {
  font-size: 5rem;
  font-weight: bold;
}

.hero-subheader {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 2rem;
}

/* mobile view */
@media only screen and (max-width: 600px) {
  .hero-header {
    font-size: 3rem;
  }

  .hero-subheader {
    font-size: 1.2rem;
  }
}