.fixedFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 767px) {
    .fixedFooter {
        position: static; /* Override fixed position on small screens */
    }
}

.footer-li {
    display: flex;
    align-items: center;
}

.footer-li svg {
    margin-right: 8px;
}